@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff'),
      url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
      url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calisto MT';
  src: url('../fonts/CalistoMT-Italic.eot');
  src: url('../fonts/CalistoMT-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CalistoMT-Italic.woff2') format('woff2'),
      url('../fonts/CalistoMT-Italic.woff') format('woff'),
      url('../fonts/CalistoMT-Italic.ttf') format('truetype'),
      url('../fonts/CalistoMT-Italic.svg#CalistoMT-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calisto MT';
  src: url('../fonts/CalistoMT-BoldItalic.eot');
  src: url('../fonts/CalistoMT-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CalistoMT-BoldItalic.woff2') format('woff2'),
      url('../fonts/CalistoMT-BoldItalic.woff') format('woff'),
      url('../fonts/CalistoMT-BoldItalic.ttf') format('truetype'),
      url('../fonts/CalistoMT-BoldItalic.svg#CalistoMT-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Calisto MT';
  src: url('../fonts/CalisMTBol.eot');
  src: url('../fonts/CalisMTBol.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CalisMTBol.woff2') format('woff2'),
      url('../fonts/CalisMTBol.woff') format('woff'),
      url('../fonts/CalisMTBol.ttf') format('truetype'),
      url('../fonts/CalisMTBol.svg#CalisMTBol') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calisto MT';
  src: url('../fonts/CalistoMT.eot');
  src: url('../fonts/CalistoMT.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CalistoMT.woff2') format('woff2'),
      url('../fonts/CalistoMT.woff') format('woff'),
      url('../fonts/CalistoMT.ttf') format('truetype'),
      url('../fonts/CalistoMT.svg#CalistoMT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-size: 16px;
  font-family: 'AvenirNext-Regular', sans-serif;
}

body {
  height: 100%;
  padding-bottom: 0;
  /* opacity: 0;
  animation: loadBody 4s forwards; */
}

html {
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 0;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


html, body, div, p {
  color: #251C16;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid  #A3A792;

}

.footer-bottom p,
.footer-bottom p a {
  font-size: 14px;
}



.olive-btn {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color:  #A3A792;
  border: 2px solid #5C7057;
  color: #F0E1AD;
  padding: 8px;
  text-transform: uppercase;
  /*min-width: 300px;*/
  width: 100%;
  outline: none;
}


.olive-btn:hover {
  background-color:  #BC984F;
  border: 2px solid #F0E1AD;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:focus {
    outline: none;
}

/*font-styles*/
th {
  font-weight: lighter;
}
.middle-olive-text {
  color: #F0E1AD;
  /*font-family: 'Avenir LT Std';*/
  text-transform: uppercase;
  font-size: 26px;
  line-height: 28px;
}

.middle-white-title {
  color:  #F2E8C3;
  font-family: 'Calisto MT';
  font-size: 30px;
}

.little-grey-text {
  color: #A3A792;
  /*font-family: 'Avenir LT Std';*/
  font-size: 18px;
  font-weight: lighter;
}

.little-white-text {
  color: #EFEADB;
  font-family: 'Avenir LT Std';
  font-size: 18px;
  font-weight: lighter;
}

.custom-bg-gray {
  background-color: #EEEDE5;
}
.custom-bg-olive-light {
  background-color: #AEB3A1;
}
.custom-bg-olive-dark {
  background-color: #A3A792;
}
.custom-bg-beige-light {
  background-color: #F0E1AD;
}
.custom-bg-beige-dark {
  background-color: #F2E2B2;
}
.custom-bg-brown {
  background-color: #BC984F;
}

.custom-gray {
  color: #EEEDE5;
}
.custom-olive-light {
  color: #AEB3A1;
}
.custom-olive-dark {
  color: #A3A792;
}
.custom-beige-light {
  color: #F0E1AD;
}
.custom-beige-dark {
  color: #F2E2B2;
}
.custom-brown {
  color: #BC984F;
}

body.noscroll{
  position:fixed;
  overflow:hidden;
}

.cover-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  border-bottom-right-radius: 180px;
  position: relative;
}

.cover-image h1 {
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  color: #F0E1AD;
  margin-top: 500px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-contact-title{
  min-width: 70px;
  color: #EFEADB;
  font-family: 'Avenir LT Std';
  font-size: 18px;
  font-weight: lighter;
}
.footer-opening-title {
  min-width: 100px;
  color: #EFEADB;
  font-family: 'Avenir LT Std';
  font-size: 18px;
  font-weight: lighter;
}


/* */

.img-svg {
  height: 100px;
  max-width: 15px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
}

.chevron {
  fill: white;
  fill-opacity: 1;

}

.chevron:nth-child(2) {
  fill: white;
  /*fill-opacity: 1;*/
}

.chevron:nth-child(3) {
  fill: white;
  /*fill-opacity: 1;*/
}

#TopChevron {
  animation: topChevron 2s infinite;
}

#MiddleChevron {
  animation: middleChevron 2s infinite;
}

#BottomChevron {
  animation: bottomChevron 2s infinite;
}


@keyframes topChevron {
  0% {
    fill-opacity: 0;
  }
  5% {
    fill-opacity: 1;
  }
  70% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

@keyframes middleChevron {
  0% {
    fill-opacity: 0;
  }
  5% {
    fill-opacity: 0;
  }
  10% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 1;
  }
  80% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

@keyframes bottomChevron {
  0% {
    fill-opacity: 0;
  }
  10% {
    fill-opacity: 0;
  }
  15% {
    fill-opacity: 1;
  }
  80% {
    fill-opacity: 1;
  }
  85% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

/* -------------------------------------- */
/*    H     E     A     D     E     R     */
/* -------------------------------------- */

header.site-header{
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  padding: 0 80px;
  /* width: 92%; */
}

.voucher-btn a{
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-underline-offset: 4px;
}

.voucher-btn:hover .line {
  background-color: #fff;
  animation: loadLine ease-out forwards 0.3s;
}

.make-booking-btn{
  font-size: 14px;
  font-weight: 600;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0 90px;
  transition: 0.4s;
}

.make-booking-btn:hover {
  background-color: #225367;
}

header .burger {
  cursor: pointer;
  width: 60px;
}

header .burger .burger-line {
  height: 6px;
  width: 100%;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

header .burger .burger-line:nth-child(1) {
  width: 100%;
  transform: rotate(-45deg) translateY(8px);
}

header .burger .burger-line:nth-child(2) {
  width: 100%;
  transform: rotate(45deg) translate(3px, -4px);
}

header .burger {
  height: 42px;
}

header.open-burger .burger .burger-line:nth-child(1) {
  margin-bottom: 7px;
  transform: none;
}
header.open-burger .burger .burger-line:nth-child(2) {
  width: 75%;
  transform: none;
}

header.open-burger .burger:hover .burger-line:nth-child(1){
  width: 75%;
}

header.open-burger .burger:hover .burger-line:nth-child(2){
  width: 100%;
}

/* -------------------------------------- */
/*     N  A  V  I  G  A  T  I  O  N       */
/* -------------------------------------- */

.nav-logo {
  width: 80px;
}

.nav-image {
  height: 100%;
}

.nav-image img {
  height: 100%;
}

nav {
  margin-left: 240px;
  margin-bottom: 120px;
}

nav .terms-conditions div a{
  font-size: 14px;
  color: #DCDAD5;
}

nav .newsletter {
  margin: 40px 0;
  transition: 0.4s;
}

nav .newsletter span{
  font-size: 14px;
  font-weight: 600;
  background-color: #A3A792;
  color: #5C7057;
  border: 2px solid #5C7057;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 8px 30px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  width: 360px;
}

nav .newsletter span:hover {
  background-color: #BC984F;
}

nav .promotion-headline {
  color: #225367;
  font-size: 20px;
  line-height: 20px;
  margin-top: 40px;
}
nav ul.navigation li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.4s;
}

nav ul.navigation li:nth-child(2) {
  animation-delay: .2s
}
nav ul.navigation li:nth-child(3) {
  animation-delay: .3s
}
nav ul.navigation li:nth-child(4) {
  animation-delay: .4s
}
nav ul.navigation li:nth-child(5) {
  animation-delay: .5s
}
nav ul.navigation li:nth-child(6) {
  animation-delay: .6s
}
nav ul.navigation li:nth-child(7) {
  animation-delay: .7s
}
nav ul.navigation li:nth-child(8) {
  animation-delay: .8s
}
nav ul.navigation li:nth-child(9) {
  animation-delay: .9s
}

nav ul.navigation li a {
  font-size: 36px;
  text-transform: uppercase;
  color: #F0E1AD;
  transition: 0.4s;
}

nav ul.navigation li:hover a {
  color: #225367;
}

#navigation-page,
.nav-logo {
  animation: loadNav ease-out forwards .8s;
}

#navigation-page.close {
  animation: closeNav ease-out forwards .5s;
}

/* ------------------------------------------- */
/*    N   E   W   S   L   E   T   T   E   R    */
/* ------------------------------------------- */

#newsletterPopupBox {
  background-color: #eeede5;
  max-width: 600px;
  pointer-events: auto;
  max-height: 90vh;
  overflow-y: scroll;
}
#newsletterPopupBox h2 {
  font-family: 'Calisto MT';
  font-size: 32px;
}
#newsletterPopupBox .newsletter-socials {
  font-weight: 600;
}

#newsletterPopupBox .form-button{
  width: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 24px;
}

#newsletterPopupBox #closePopup {
  top: 8px;
  right: 8px;
}

#newsletterPopupBox input {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  color: #225367;
}

#newsletterPopupBox .newsletterPopupAdditionalText div {
  font-size: 12px;
}

#newsletterPopupBox .newsletterPrivacyTerms {
  font-size: 12px;
  font-weight: 600;
}


/* -------------------------------------- */
/*      H   O   M   E   P   A   G  E      */
/* -------------------------------------- */

body#homepage {
  background-color: #AEB3A1;

}

.homepage-title {
  font-size: 90px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F0E1AD;
  line-height: 120px;
  max-width: 80%;
  /*margin-top: -600px;*/
  min-height: 240px;
}

.omnia-title {
  color: #F0E1AD;
  font-size: 90px;
  padding-bottom: 15px;
  border-bottom: 2px solid #F0E1AD;
  /*width: 350px;*/
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.events-title {
  font-size: 90px;
  padding-bottom: 15px;
  /*width: 350px;*/
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #5C7057;
  border-bottom: 2px solid #A3A792;
}

.img-radius {
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.img-bottom-radius {
  border-bottom-right-radius: 260px;
}

.olive {
  color: #5C7057;
}

.section-title {
font-size: 40px;
line-height: 40px;
padding-bottom: 15px;
/*border-bottom: 1px solid #5C7057;*/
margin-bottom: 15px;
text-transform: uppercase;
}


.btn {
  background-color: #F0E1AD;
  border: 1px solid #BC984F;
  color: #BC984F;
  padding: 8px;
  width: 300px;
  font-size: 14px;
  font-weight: 600;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-transform: uppercase ;
}

.btn:hover {
 background-color: #5C7057;
}

.line {
  height: 2px;
  background-color: transparent;
}

/*food*/

#food {
background-color: #F2E8C3;
}

#food .inner-container {
  width: 900px;
  margin: 0 auto;
}

#food .menu-categories {
  padding-top: 100px;
  margin: 0 auto;
}

.food-title {
  color: #C1A973;
  font-size: 90px;
  padding-bottom: 15px;
  border-bottom: 2px solid #C1A973;
  width: 600px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

#food .menu-category-title {
  color: #A3A792;
  font-size: 20px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

#food .menu-category-title:hover {
  color: #5C7057;
}
#food .menu-category-title:hover .line{
  background-color: #5C7057;
  animation: loadLine ease-out forwards 0.5s;
}

#food .menu-category-title.active {
  color: #5C7057;
  /* text-decoration: underline; */
  /* text-underline-offset: 4px; */
}


#food .menu-category-title.active .line {
  background-color: #5C7057
}

#food .divider-line {
  border-bottom: 2px solid #C1A973;
}

#food .product-description,
#food .product-price {
  color: #A3A792
}

.drink-menu {
  width: 70%;
  padding-top: 100px;
  margin: 0 auto;
}

.grey {
  color: #A3A792;
}

#rewards {
  background-color: #EEEDE5;
}

.rewards-title {
  color: #C1A973;
  font-size: 90px;
  padding-bottom: 15px;
  border-bottom: 2px solid #C1A973;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.reward-date {
  color: #A3A792;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  text-align: left;

}


.author-title {
color: #A3A792;
font-size: 32px;
line-height: 40px;
text-transform: uppercase;
}

.review-title {
  color: #BC984F;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  min-height: 95px;
}

/*.reward-item {
  border: 1px solid red;
}*/

.reward-item--first {
  padding-right: 30px;
}

.reward-item--second {
  padding-left: 30px;
}

.reward-item:nth-child(even) {
  padding-left: 30px;
}

.reward-item:nth-child(odd) {
 padding-right: 30px;
}

.about-rewards-title {
  color: #A3A792;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 2px solid #A3A792;
}


/*EVENTS*/

#events {
  background-color: #EEEDE5;
}

#events select {
  font-size: 12px;
}

/*.event-img {
  margin-right: 40px;
}

.event-text {
  margin-left: 40px;
  padding-right: 80px;
}

.event-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.event-item:nth-child(odd) .event-img {
  margin-left: 40px;
  margin-right: 0;
}

.event-item:nth-child(odd) .event-text {
  margin-right: 40px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 80px;
}*/

.private-title {
  width: 50%;
  color: #BB968F;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 2px solid #AEB3A1
}

.columns {
  font-size: 18px;
}

.form-title {
  color: #A3A792;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 48px;
}

.input {
  border: 1px solid #AEB3A1;
  height: 60px;
  padding: 5px;
  padding-left: 15px;
  width: 50%;
  margin-bottom: 25px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  outline: none;
  background-color: #EEEDE5;
}


.input:focus {
  outline: none;
}

.form-button {
  width: 50%;
  text-transform: uppercase;
  color: white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color:  #225367;
  height: 58px;
  padding: 3px;
  font-size: 12px;
  font-weight: 600;
}

.form-button:hover {
  background-color: #BC984F;
  color: white;
}

.input::placeholder {
  color: #225367;
  font-size: 12px;
}

.blue {
 color: #225367;
}

.second-title {
  color: #BB968F;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
}


/*about us*/


#about {
background-color: #AEB3A1;
}

#about .member-item:nth-child(odd) .img-border-radius,
#about .member-item:nth-child(even) .img-border-radius {
  border-radius: 40px;
}

#about .produce-middle-title{
  font-size: 40px;
  line-height: 44px;
}

.partners {
  width: 70%;
  margin: 0 auto;
}

.partner {
  border: 1px solid #F0E1AD;
  margin-bottom: 40px;
  border-radius: 25px;
  padding: 30px;
  position: relative;

}

.accordion-description {
  max-height: 0;
  overflow: hidden;
  white-space: pre-line;
  -webkit-transition: max-height 0.6s ease-in;
  -o-transition: max-height 0.6s ease-in;
  transition: max-height 0.6s ease-in;
}

.accordion-opened .accordion-description {
  /* padding-top: 16px; */
  max-height: 400px;
  -webkit-transition: max-height 0.8s ease-in;
  -o-transition: max-height 0.8s ease-in;
  transition: max-height 0.8s ease-in;
}

.open-accordion {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion-opened .open-accordion {
  -webkit-transform-origin: center !important;
      -ms-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.partner-title  {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.partner-title {
   font-size: 32px;
   text-transform: uppercase;
   width: 100%;
}

.partner-text p {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/*color: #F0E1AD;*/

.section-text {
  font-size: 24px;
  /*text-transform: uppercase ;*/
  padding-right: 90px;

}

.project-title  {
  color: #F2E8C3;
  font-family: 'Calisto MT';
  font-size: 36px;
}

.project-text {
  font-size: 20px;
}

.border-class  {
  border-bottom: 2px solid #A3A792;
}

.member-item:nth-child(even) .img-border-radius {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.member-item:nth-child(odd) .img-border-radius {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
};

.team-bottom-img {
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

.member-title {
border-bottom: 2px solid #A3A792;;
}

.produce-middle-title  {
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    padding-bottom: 25px;
    color: #5C7057;
}

.produce-little-text {
  color: #F0E1AD;
  /*font-family: 'Avenir LT Std';*/
  text-transform: uppercase;
  font-size: 26px;
  line-height: 28px;
}


/*bookings*/

#bookings {
  background-color: #EEEDE5;
}


#contacts{
  background-color: #AEB3A1;
}

.select {
  border: 1px solid #AEB3A1;
  height: 60px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  margin-bottom: 25px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  outline: none;
  background-color: #EEEDE5;
}

.select .option {
  background-color: darkgreen;
}

.select:focus {
  outline: none;
}

.contact-button {
  text-transform: uppercase;
  color: white;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color:  #225367;
  height: 58px;
  padding: 3px;
  font-size: 12px;
  font-weight: 600;
}

.contact-button:hover {
  background-color: #BC984F;
  color: white;
}

/* PRIVACY PAGE */

#privacy,
#terms {
  background-color: #EEEDE5;
}

/* #privacy h1 {
  font-size: 38px;
  margin-bottom: 30px;
  line-height: 48px;
  text-transform: capitalize;
  color: #5C7057
} */

#privacy h2,
#terms h2 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #5C7057
}

#privacy h3,
#terms h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  color: #5C7057
}

#terms h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#privacy h4,
#terms h4 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  padding-left: 12px;
  color: #5C7057
}

#privacy h5,
#terms h5 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #5C7057
}

#privacy p,
#terms p {
  font-size: 14px;
  color: #5C7057;
}

#privacy p strong,
#terms p strong {
  display: block;
  margin-top: 24px;
}


@media (max-width: 1441px) {
  nav {
    margin-left: 180px;
    margin-bottom: 60px;
  }
  nav ul.navigation li a {
    font-size: 28px;
  }

  .cover-image h1 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (max-width: 960px) {
  #food .inner-container {
    width: 100%;
    /* padding: 0 16px; */
  }

}

@media (min-width: 960px) {
  .omnia-title {
    width: 350px;
  }

  /* header.site-header{
    width: 90%;
  } */
}

@media (min-width:1024px) {
  .event-img {
    margin-right: 40px;
  }

  .event-text {
    margin-left: 40px;
    padding-right: 80px;
  }

  .event-item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .event-item:nth-child(odd) .event-img {
    margin-left: 40px;
    margin-right: 0;
  }

  .event-item:nth-child(odd) .event-text {
    margin-right: 40px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 80px;
  }

  .member-item:nth-child(even) .member-text {
    margin-right: 80px;
    padding-right: 80px;
    }

  .member-item:nth-child(odd) .member-text {
    margin-right: 0;
    padding-right: 80px;
    margin-left: 80px;
  }
}

@media (min-width: 1280px) {

  header.site-header{
    width: 100%;
  }
}

@media (max-width: 450px) {
  header.site-header {
    top: 40px;
    padding: 0 16px;
  }

  nav {
    margin-left: 40px;
    margin-bottom: 60px;
  }

  nav ul.navigation li a {
    font-size: 28px;
  }

  nav .promotion-headline {
    font-size: 18px;
    margin-top: 32px;
  }

  #navigation-page .make-booking-btn {
    margin: 8px 0 40px 0;
  }

  #navigation-page .voucher-btn a{
    display: inline-block;
    width: 100%;
  }

  footer table th {
    width: 40%;
  }

  footer table {
    width: 100%;
  }

  footer table td {
    width: 60%;
    padding: 0;
  }

  footer .flex-wrap {
    flex-wrap: nowrap;
  }

  .cover-image {
    /* aspect-ratio: 16/9; */
    border-bottom-right-radius: 80px;
    height: 100vh;
    padding: 0 16px;
    position: relative;
  }

  .cover-image h1 {
    font-size: 45px;
    line-height: 60px;
    position: absolute;
    bottom: 120px;
    margin-top: 0;
  }

  #bookings .burger-line,
  #events .burger-line {
    background-color: #5C7057;
  }

  .omnia-title,
  .rewards-title,
  .food-title,
  .events-title {
    font-size: 50px ;
    line-height: 60px;
  }

  #newsletterPopupBox h2 {
    font-size: 28px;
  }

  #newsletterPopupBox #closePopup {
    right: 4px;
  }

  #newsletterPopupBox .form-button{
    margin-top: 12px;
    height: 44px;
  }

  #newsletterPopupBox input {
    height: 42px;
  }
  

  /*  --------------------------  */
  /*    H  O  M  E  P  A  G  E    */
  /*  --------------------------  */

  .btn {
    width: 100%;
  }

  #homepage .section-title {
    font-size: 32px;
  }

  /*  -----------------  */
  /*    A  B  O  U  T    */
  /* ------------------  */



  #about .member-item:nth-child(even) .member-text {
    margin-right: 0;
    padding-right: 0;
  }

  #about .member-item:nth-child(odd) .member-text {
    margin-left: 0;
    padding-right: 0;
  }

  #about .team-bottom-img {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px
  }

  #about .partners {
    width: 100%;
  }


  /*  -----------------  */
  /*    F   O   O   D    */
  /*  -----------------  */

  #food .img-bottom-radius {
    border-bottom-right-radius: 80px
  }

  #food .menu-categories {
    padding-top: 12px;
  }

  #food .menu-category-title {
    flex: 0 0 auto;
  }

  #food .product-price {
    margin-right: 8px;
  }

  #food .food-title {
    width: 100%;
  }


  /*  -----------------  */
  /*    R E W A R D S    */
  /*  -----------------  */

  .reward-item:nth-child(odd){
    padding: 0;
  }
  .reward-item:nth-child(even){
    padding: 0;
  }

  .olive-btn {
    width: 100%;
  }

  /*  -----------------  */
  /*    B O O K I N G    */
  /*  -----------------  */

  #bookings select.select,
  #bookings .form-button {
    min-width: 100%;
  }


  /*  ------------------  */
  /*   E  V  E  N  T  S   */
  /*  ------------------  */

  .event-text{
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 0;
  }

  .event-img,
  .event-item:nth-child(odd) .event-img {
    margin: 0;
  }

  .event-item:nth-child(odd) .event-text {
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 0px;
  }

  .private-title {
    width: 100%;
    font-size: 44px;
    line-height: 48px;
    margin: 0;
    padding: 40px 0 40px;
  }

  #events form input,
  #events form .form-button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}

/* Animations */

@keyframes loadLine {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes loadNav {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes closeNav {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
