<footer class="custom-bg-olive-light p-80">
  <div class="container mx-auto pb-8 md:pb-20 pt-20 px-4 md:px-0">
    <div class="flex flex-col md:flex-row justify-between mb-16 md:mb-32">
      <div class="w-full md:w-1/2 md:mr-10">
        <h2 class="middle-olive-text mb-8">Opening hours</h2>
        <table class="little-white-text text-left">
          <tr>
            <th>Sunday</th>
            <td class="pl-0 md:pl-48">Closed</td>
          </tr>
          <tr>
            <th>Monday</th>
            <td class="pl-0 md:pl-48">Closed</td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td class="pl-0 md:pl-48">5:30pm till late</td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td class="pl-0 md:pl-48">5:30pm till late</td>
          </tr>
          <tr>
            <th>Thursday</th>
            <td class="pl-0 md:pl-48">5:30pm till late <br> 12pm till 2:30</td>
          </tr>
          <tr>
            <th>Friday</th>
            <td class="pl-0 md:pl-48">5:30pm till late <br> 12pm till 2:30</td>
          </tr>
          <tr>
            <th>Saturday</th>
            <td class="pl-0 md:pl-48">5:30pm till late <br> 12pm till 2:30</td>
          </tr>
        </table>
      </div>
      <div class="w-full md:w-1/2 md:ml-10 mt-16 md:mt-0">
        <h2 class="middle-olive-text mb-8">Contact details</h2>
        <table class="little-white-text text-left">
          <tr>
            <th>Phone</th>
            <td class="pl-0 md:pl-48">
             <a href="tel:0380808080">03 8080 8080</a>
            </td>
          </tr>
          <tr>
            <th>Email</th>
            <td class="pl-0 md:pl-48">
              <a href="mailto:info@omniabistro.com.au?subject=Omnia%20Bistro%20Email%20Enquiry"> info@omniabistro.com.au</a>
            </td>
          </tr>
          <tr>
            <th>Address</th>
            <td class="pl-0 md:pl-48">
              <a href="https://www.google.com/maps/place/Omnia+Bistro+And+Restaurant+South+Yarra/@-37.8389116,144.9953926,15z/data=!4m5!3m4!1s0x0:0x8354098583c6a976!8m2!3d-37.8389116!4d144.9953926" target="_blank">
                625 Chapel Street <br> South Yarra <br> (Cnr Chapel St & Toorak Rd)
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="flex flex-col md:flex-row mb-12 md:mb-20">
      <div class="w-full md:w-1/2 md:mr-10">
        <h2 class='middle-white-title mb-8'>Careers</h2>
        <p class="middle-olive-text mb-12">Are you interested in <br> joining our team? </p>
        <button class="olive-btn">join now</button>
      </div>
      <div class="w-full md:w-1/2 md:ml-10 mt-16 md:mt-0">
        <h2 class='middle-white-title mb-8'>Subscribe</h2>
        <p class="middle-olive-text mb-12">JOIN THE OMNIA FAMILY FOR YOUR CHANCE TO WIN
          A $250 DINING EXPERIENCE </p>
        <button class="olive-btn">SUBSCRIBE TO OUR NEWSLETTER</button>
      </div>
    </div>
    <div class="footer-bottom md:flex md:flex-wrap md:justify-between">
      <div class="flex items-center ">
        <div class="flex mb-3 md:mb-0">
          <a href="https://www.instagram.com/omniabistro/">
            <img class="mr-2" src="/img/instagram.svg" alt="instagram icon"></a>
          <a href="https://www.facebook.com/omniabistro/">
            <img class="mr-2" src="/img/facebook.svg" alt="facebook icon"></a>
        </div>
        <p class="mb-3 md:mb-0 mx-8">
          <a href="https://www.google.com/maps/place/Omnia+Bistro+And+Restaurant+South+Yarra/@-37.8389116,144.9953926,15z/data=!4m5!3m4!1s0x0:0x8354098583c6a976!8m2!3d-37.8389116!4d144.9953926" target="_blank">625 Chapel Street South Yarra</a>
        </p>
        <p class="mb-3 md:mb-0">
          <a href="mailto:info@omniabistro.com.au"> info@omniabistro.com.au</a>
        </p>
      </div>
      <p class="w-full md:w-auto md:text-left md:mt-0">Copiright &copy; 2022 Omnia Bistro</p>
    </div>
  </div>

</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>