
<footer class="custom-bg-olive-light p-80">
  <div class="container mx-auto pb-20 pt-20">
  <div class="flex justify-between mb-32">
    <div class="w-1/2 mr-10">
      <h2 class="middle-olive-text mb-8">Opening hours</h2>
      <table class="little-white-text text-left">
        <tr>
          <th>Sunday</th>
          <td class="pl-48">Closed</td>
        </tr>
        <tr>
          <th>Monday</th>
          <td class="pl-48">Closed</td>
        </tr>
        <tr>
          <th>Tuesday</th>
          <td class="pl-48">5:30pm till late</td>
        </tr>
        <tr>
          <th>Wednesday</th>
          <td class="pl-48">5:30pm till late</td>
        </tr>
        <tr>
          <th>Thursday</th>
          <td class="pl-48">5:30pm till late <br> 12pm till 2:30</td>
        </tr>
        <tr>
          <th>Friday</th>
          <td class="pl-48">5:30pm till late <br> 12pm till 2:30</td>
        </tr>
        <tr>
          <th>Saturday</th>
          <td class="pl-48">5:30pm till late <br> 12pm till 2:30</td>
        </tr>
      </table>
    </div>
    <div class="w-1/2  ml-10">
      <h2 class="middle-olive-text mb-8">Contact details</h2>
      <table class="little-white-text text-left">
        <tr>
          <th>Phone</th>
          <td class="pl-48">03 8080 8080</td>
        </tr>
        <tr>
          <th>Email</th>
          <td class="pl-48"> info@omniabistro.com.au</td>
        </tr>
        <tr>
          <th>Address</th>
          <td class="pl-48">625 Chapel Street <br> South Yarra <br> (Cnr Chapel St & Toorak Rd)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="flex mb-20">
    <div class="w-1/2  mr-10">
      <h2 class='middle-white-title mb-8'>Careers</h2>
      <p class="middle-olive-text mb-12">Are you interested in <br> joining our team? </p>
      <button class="olive-btn">join now</button>
    </div>
    <div class="w-1/2 ml-10">
      <h2 class='middle-white-title mb-8'>Subscribe</h2>
      <p class="middle-olive-text mb-12">JOIN THE OMNIA FAMILY FOR YOUR CHANCE  TO WIN
        A $250 DINING EXPERIENCE </p>
      <button class="olive-btn">SUBSCRIBE TO OUR NEWSLETTER</button>
    </div>
  </div>
  <div class="footer-bottom flex justify-between">
    <div  class="flex justify-between w-1/2">
    <div class="flex justify-between ">
    <img class="mr-2" src="/img/instagram.svg" alt="instagram icon">
    <p>omnia</p>
    </div>
    <p>625 Chapel Street
      South Yarra</p>
    <p>info@omniabistro.com.au</p>
    </div>
    <p>Copiright &copy 2021 Omnia Bistro</p>
  </div>
  </div>

  <script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</footer>
