<header class="site-header flex justify-between items-center">
  <div>
    <img src="/img/logo.svg" alt="logo_omnia">
  </div>
  <div class="flex items-center">
    <div class="voucher-btn cursor-pointer px-4">
      <a class="uppercase p-2" href="#">Voucer</a>
    </div>
    <a class="make-booking-btn custom-beige-dark custom-bg-brown py-2 px-8 uppercase cursor-pointer">
      Make a booking
    </a>
    <div class="burger flex flex-col items-end p-3">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
    </div>
  </div>
</header>