{% assign current_page = 'events' %}
{% include head.html %}
{% include nav.html %}
<div id="contacts" class="pt-32 md:pt-0">
  <div class="cover-image mb-12 md:mb-24" style="background-image: url('/img/contacts_main.jpg');">
    <div class="container mx-auto">
      <h1>
        <!-- {{ page.big_title }} -->
        Contact <br> headline
      </h1>
    </div>
  </div>
  <div class="container mx-auto px-4 md:px-0">
    <p class="pt-20 middle-olive-text">You’ll find us at the base of the glamorous Capitol Grand
      Building, where two of Melbourne’s most iconic streets
      meet for a perfect restaurant rendezvous. </p>
    <button class="contact-button mt-20 w-full md:w-64">Book a table</button>
  </div>
</div>
{% include footer.html %}