{% assign current_page = 'events' %}
{% include head.html %}
{% include nav.html %}
<div id="events">
  <div class="cover-image mb-12 md:mb-24" style="background-image: url({{page.main_img}});">
    <div class="container mx-auto">
      <h1>
        {{ page.big_title }}
    </h1>
    <div>
      <svg id="Chevrons"
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 55 55"
class="img-svg">
  <defs>
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
  </defs>
  <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
  C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,3.7,52.2,4,52,4.2z"/>
<path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,31.3,52.2,31.6,52,31.8z"/>
<path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
  c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
  C52.3,59,52.2,59.3,52,59.5z"/>
  </svg>
    </div>
    </div>
  </div>
  <div class="container mx-auto main-content p-12 md:p-24">
    <div>
      <h2 class="events-title reveal">Upcoming Events</h2>
      <h3 class="private-title mt-24 reveal">{{page.little_title}}</h3>
      <p class="olive reveal">{{page.text}}</p>
    </div>

    {% for event in page.events %}
    {% assign index = forloop.index0 | modulo: 2 %}
    <div class="md:flex justify-between pt-8 md:pt-16 mb-20 event-item">
      <div class="md:w-1/2 event-img">
        {% if index == 0 %}
          <img src="{{event.img}}" class="img-radius reveal-left">
        {% else %}
          <img src="{{event.img}}" class="img-radius reveal-right">
        {% endif %}
      </div>
      <div class="pt-8 md:pt-16 olive md:w-1/2 event-text">
        {% if index == 0 %}
          <h3 class="pb-8 section-title border-class reveal-right">{{event.title}}</h3>
          <p class="mb-12 olive reveal-right">{{event.text}}</p>
          <button class="olive-btn reveal-right">Book a table</button>
        {% else %}
          <h3 class="pb-8 section-title border-class reveal-left">{{event.title}}</h3>
          <p class="mb-12 olive reveal-left">{{event.text}}</p>
          <button class="olive-btn reveal-left">Book a table</button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="">
      <h2 class="events-title reveal">EXCLUSIVE Events</h2>
      <h3 class="private-title md:w-1/2 mt-24 reveal">HOST YOUR PRIVATE EVENT AT OMNIA</h3>
    </div>

    <div class="md:flex justify-between md:pt-12 pb-16 columns">
      <div class="md:mr-4 border-b md:border-b-0 border-neutral-400 mb-4 md:mb-0" style="border-color: #AEB3A1;">
        <p class="pb-4 md:pb-8 blue reveal-delay-200">{{page.first_column_first_text}}</p>
        <p class="pb-4 md:pb-8 blue reveal-delay-300">{{page.first_column_second_text}}</p>
      </div>
      <div class="md:mr-4 border-b md:border-b-0 border-neutral-400 mb-4 md:mb-0" style="border-color: #AEB3A1;">
        <p class="pb-4 md:pb-8 blue reveal-delay-300">{{page.second_column_first_text}}</p>
        <p class="pb-4 md:pb-8 blue reveal-delay-400">{{page.second_column_second_text}}</p>
        <p class="pb-4 md:pb-8 blue reveal-delay-500">{{page.second_column_third_text}}</p>
        <p class="pb-4 md:pb-8 blue reveal-delay-600">{{page.second_column_fourth_text}}</p>
      </div>
      <div class="md:mr-4">
        <p class="pb-4 md:pb-8 blue reveal-delay-400">{{page.third_column_first_text}}</p>
        <p class="pb-4 md:pb-8 blue reveal-delay-500">{{page.third_column_second_text}}</p>
      </div>
    </div>
    <h2 class="form-title reveal">FOR EXCLUSIVE EVENT INQUIRIES PLEASE CONTACT OUR TEAM USING THE FORM BELOW:</h2>
    <form class="mb-40">
      <div class="md:flex justify-between">
        <input type="text" id="fname" name="name" placeholder="Your Name" class="input mr-4 reveal-delay-200">
        <input type="text" id="lname" name="phone" placeholder="Your Phone" class="input ml-4 reveal-delay-400">
      </div>
      <div class="md:flex justify-between">
        <input type="text" id="fname" name="email" placeholder="Your Email" class="input mr-4 reveal-delay-200">
        <input type="text" id="lname" name="event-type" placeholder="Event Type" class="input ml-4 reveal-delay-400">
      </div>
      <div class="md:flex justify-between">
        <input type="text" id="fname" name="number" placeholder="Number of Guests" class="input mr-4 reveal-delay-200">
        <input type="text" id="lname" name="date" placeholder="Prefered date" class="input ml-4 reveal-delay-400">
      </div>
      <div class="md:flex justify-between">
        <input type="text" id="lname" name="details"  placeholder="Event Details" class="input mr-4 reveal-delay-200">
        <button class="form-button ml-4 reveal-delay-400">Enquire now</button>
      </div>
    </form>
  </div>
</div>

  {% include footer.html %}
