{% assign current_page = 'food' %}
{% include head.html %}
{% include nav.html %}

<div id="food" class="pt-32 md:pt-0">
  <div class="cover-image mb-12 md:mb-24" style="background-image: url('/img/food_main.jpg');">
    <div class="container mx-auto">
      <h1>
        {{ page.big_title }}
      </h1>
    </div>
  </div>
  {% for menu in page.menu %}
  {% assign index = forloop.index0 | modulo: 2 %}
  {% if menu.menu-group-image.size > 1 %}
    <div class="mb-12 md:mb-">
      <img src="{{ menu.menu-group-image }}" alt="wine picture" class="img-bottom-radius w-full">
    </div>
  {% endif %}

  {% if index == 0 %}
    <div class="container mx-auto px-4 md:px-0" id="food-menu">
  {% else %}
    <div class="container mx-auto px-4 md:px-0" id="drink-menu">
  {% endif %}

    <h2 class="food-title">{{ menu.menu_group_title }}</h2>
    <p class="mt-24 little-grey-text">{{ menu.menu_group_text }}</p>

    <div class="w-full flex justify-between mb-24" style="border-bottom: 2px solid #C1A973">
      <ul class="menu-categories flex justify-between inner-container overflow-x-auto md:overflow-x-hidden">
        {% for category in menu.categories %}
        <li class="menu-category-title px-3 py-2 cursor-pointer" data-category-name="{{ category.category_title | slugify }}">
          {{ category.category_title }}
          <div class="line"></div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% if index == 0 %}
      <div class="inner-container" id="food-products">
    {% else %}
      <div class="inner-container" id="drink-products">
    {% endif %}
      {% for category in menu.categories %}
        <div class="category-products w-full mb-32" data-category-products="{{ category.category_title | slugify }}">
          {% for product in category.products %}
            <div class="flex items-start justify-between">
              <div>
                <div class="product-title">{{ product.product_title }}</div>
                <div class="product-description pt-2 pb-12">{{ product.product_description }}</div>
              </div>
              <div class="product-price">
                {{ product.product_price }}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% include footer.html %}
