{% assign current_page = 'homepage' %}
{% assign page_title = 'Welcome' %}

{% include head.html %}

{% include nav.html %}

<!-- temp -->
<div id="homepage">
<img src="/img/homepage_main.jpg" alt="interior picture"
class="img-bottom-radius w-full -mt-8 mb-8 sm:mt-0 sm:mb-12 lg:mb-32">
<div class="container mx-auto">
<h1 class="homepage-title">
  COMFORTABLE <br> AND ELEGANT
</h1>
<div class="pt-16 pb-48">
<h2 class="omnia-title">Omnia</h2>
<div class="flex justify-between pt-16" >
<img src="/img/homepage_1.jpg" class="img-radius mr-20 w-1/2">
<div class="ml-20 w-1/2 pt-16 olive">
  <h3 class="pb-8 section-title">HERE IS THE HEADLINE ABOUT OMNIA.</h3>
  <p class="pb-8 olive">Morbi in commodo lectus, in semper erat.
    Nullam et arcu fermentum, condimentum dui id,
    lobortis purus. Suspendisse congue tempus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec consectetur vulputate ipsum, eget dignissim arcu efficitur et. Praesent eu blandit nulla.
    Vivamus sed dolor ornare, mattis sem in, sodales risus. Nunc eget faucibus nulla. Vestibulum aliquet, tortor eget dictum imperdiet, dolor nisi aliquet mauris,
    vitae mattis ex lacus sit amet nibh.</p>
  <button class="btn">Browse our menu</button>
</div>
</div>
<div class="flex justify-between pt-16">
  <div class=" w-1/2 pt-16 olive mr-20">
    <h3 class="pb-8 section-title">HERE IS THE HEADLINE ABOUT OMNIA 2.</h3>
    <p class="pb-8 olive">Morbi in commodo lectus, in semper erat.
      Nullam et arcu fermentum, condimentum dui id,
      lobortis purus. Suspendisse congue tempus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec consectetur vulputate ipsum, eget dignissim arcu efficitur et. Praesent eu blandit nulla.
      Vivamus sed dolor ornare, mattis sem in, sodales risus. Nunc eget faucibus nulla. Vestibulum aliquet, tortor eget dictum imperdiet, dolor nisi aliquet mauris,
      vitae mattis ex lacus sit amet nibh.</p>
    <button class="btn">Browse our menu</button>
 </div>
 <img src="/img/homepage_2.jpg" class="img-radius w-1/2 ml-20">
</div>
</div>
{% include footer.html %}
