{% assign current_page = 'rewards' %}
{% include head.html %}
{% include nav.html %}
<div id="rewards">
  <div class="cover-image mb-12 md:mb-24" style="background-image: url('/img/rewards_main.jpg');">
    <div class="container mx-auto">
      <h1>
        {{ page.recent_title }}
      </h1>
      <div>
        <svg id="Chevrons"
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 55 55"
class="img-svg">
  <defs>
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
  </defs>
  <path  filter="url(#f1)"
  class="chevron "
  id="TopChevron"
  style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
  d="M52,3.06,27.952,22.55a.7.7,0,0,1-.45.17.727.727,0,0,1-.46-.17L3,3.06a.718.718,0,0,1,.45-1.28h5.59a.727.727,0,0,1,.45.16L27.5,16.53l18-14.59a.755.755,0,0,1,.46-.16h5.58a.712.712,0,0,1,.68.48A.7.7,0,0,1,52,3.06Z"/>
  <path  filter="url(#f1)"
  class="chevron"
  id="MiddleChevron"
  style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
  class="cls-1" d="M52,18.31l-24.05,19.5a.749.749,0,0,1-.45.16.8.8,0,0,1-.46-.16L3,18.31a.714.714,0,0,1-.23-.8.722.722,0,0,1,.68-.48h5.59a.707.707,0,0,1,.46.17l18,14.58,18-14.59a.755.755,0,0,1,.46-.16h5.58a.712.712,0,0,1,.68.48A.7.7,0,0,1,52,18.31Z"/>
  <path filter="url(#f1)"
  class="chevron"
  id="BottomChevron"
  style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
   d="M52,33.57,27.952,53.06a.69.69,0,0,1-.45.16.736.736,0,0,1-.46-.16L3,33.57a.726.726,0,0,1,.45-1.29h5.59a.707.707,0,0,1,.46.17l18,14.58,18-14.58a.707.707,0,0,1,.46-.17h5.58A.731.731,0,0,1,52,33.57Z"/>
  </svg>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 md:px-0">
    <div class="rewards-container">
      <div>
        <h2 class="rewards-title reveal">NEWS & REWARDS</h2>
      </div>
      <!----->
      <div class="flex justify-between flex-wrap mt-8 md:mt-0">
        {% for reward in page.rewards %}
        {% assign index = forloop.index0 | modulo: 2 %}
        <div class="pt-16 mb-20 md:w-1/2 reward-item reveal-delay-{{ index | plus: 1 | times: 3 }}00">
          <div class="">
            <img src="{{reward.img}}" class="img-radius">
          </div>
          <div class="pt-16 olive">
            <!--<p class="reward-date mb-10">{{reward.date}}</p>-->
            <h3 class="author-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.name_year}}</h3>
            <h3 class="pb-8 review-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.category}}</h3>
            <p class="mb-12 olive reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{reward.to}}</p>
            <button class="olive-btn reveal-delay-{{ index | plus: 1 | times: 3 }}00">Find out more</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <h2 class="about-rewards-title md:w-1/2 mt-20 mb-20 reveal">
      {{page.reviews_title}}
    </h2>
    <div class="flex justify-between flex-wrap mb-20">
      {% for review in page.reviews %}
      {% assign index = forloop.index0 | modulo: 2 %}
      <div class="pt-16 mb-20 md:w-1/2 reward-item reveal-delay-{{ index | plus: 1 | times: 3 }}00">
        <div class="">
          <img src="{{review.img}}" class="img-radius">
        </div>
        <div class="pt-16 olive">
          <!--<p class="reward-date mb-10">{{review.date}}</p>
          <h3 class="author-title">{{review.author}}</h3>-->
          <h3 class="pb-8 review-title reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{review.title}}</h3>
          <p class="mb-12 olive reveal-delay-{{ index | plus: 1 | times: 3 }}00">{{review.text}}</p>
          <button class="olive-btn reveal-delay-{{ index | plus: 1 | times: 3 }}00">Find out more</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include footer.html %}
