{% assign current_page = 'team' %}
{% include head.html %}
{% include nav.html %}
<div id="team">
  <img src="/img/events_main.jpg" alt="interior picture"
  class="img-bottom-radius w-full -mt-8 mb-8 sm:mt-0 sm:mb-12 lg:mb-32">
  <div class="container mx-auto">
  <h1 class="homepage-title">
   Events <br> headline
  </h1>
  <div class="pt-24 mt-48">
    <div>
  <h2 class="events-title">Events</h2>
  </div>
  {% for team_member in page.team_members %}
  <div class="flex justify-between pt-16 mb-20 member-item" >
  <div class="pt-16 olive w-1/2 member-text">
    <h3 class="pb-8">{{team_member.name}}</h3>
    <h3 class="pb-8">{{team_member.title}}</h3>
    <p class="mb-12 olive">{{team_member.text}}</p>
    <button class="olive-btn">Book a table</button>
  </div>
  <div  class="w-1/2 member-img">
    <img src="{{team_member.img}}" class="img-border-radius">
    </div>
  </div>
  {% endfor %}
  </div>


<div  class="mt-32">
    <img src="{{page.bottom_img}}" class="team-bottom-img">
    </div>

</div>
{% include footer.html %}
