{% assign current_page = 'terms' %}
{% include head.html %}
{% include nav.html %}
<div>
  <div class="cover-image mb-12 md:mb-24" style="background-image: url('/img/bookings_main.jpg');">
    <div class="container mx-auto">
      <h1>
        {{ page.big_title }}
      </h1>
    </div>
  </div>
  <div class="container mx-auto px-4 md:px-0 md:w-1/2 mb-12 md:mb-24">
    <!-- <h1>{{ page.big_title }}</h1> -->
    <h2>{{ page.subtitle }}</h2>
    <div>
      {{ page.content | markdownify }}
    </div>
  </div>
</div>
{% include footer.html %}